useDynLib(EMMIX)
export("EMMIX", "ddmix",
"rdmvn","rdmvt", "rdmsn", "rdmst",
"rdemmix","rdemmix2","rdemmix3",
"ddmvn","ddmvt", "ddmsn", "ddmst",
"error.rate","rand.index",
"bootstrap","bootstrap.noc")

importFrom(mvtnorm,rmvnorm)
importFrom("stats", "as.dist", "cor", "cutree", "hclust", "kmeans",
             "rgamma")
importFrom("stats", "rnorm")
